body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

h1 {
  line-height: ;
  margin-top: 0;
  font-weight: 700;
  font-size: 5.625rem;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}
h2 {
  margin: 50px auto 0 auto;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #66bfbf;
  padding-bottom: 10px;
}

h3 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 150px auto;
}

a {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  text-decoration: none;
  margin: 20px 20px;
}
a:hover {
  color: #eaf6f6;
}

.copyright {
  color: #eaf6f6;
  margin: 40px auto;
}

.pro {
  text-decoration: underline;
}

.contact-pragh {
  margin: 50px auto;
}

.intro {
  width: 30%;
  margin: auto;
}
.top-container {
  background-color: #e4f5f9;
  position: relative;
  padding-top: 100px;
}
.mountain {
  padding: 0 15%;
}

.middle-container {
  margin: 100px 0;
  position: relative;
  padding: 100px 0;
}
.bottom-container {
  background-color: #66bfbf;
  position: relative;
  padding: 100px 0;
  margin: 0;
}

.skill-row {
  text-align: left;
  width: 50%;

  margin: 150px auto 100px auto;
}

.profile-img {
  width: 7rem;
}

.code-gif {
  border-radius: 50%;
  margin-right: 30px;
  padding-bottom: 20px;
  width: 9rem;
  float: left;
}

.gamepad {
  width: 9rem;
  padding-bottom: 20px;
  margin-left: 30px;
  float: right;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #5fbffa;
  background-image: -webkit-linear-gradient(top, #5fbffa, #3498db);
  background-image: -moz-linear-gradient(top, #5fbffa, #3498db);
  background-image: -ms-linear-gradient(top, #5fbffa, #3498db);
  background-image: -o-linear-gradient(top, #5fbffa, #3498db);
  background-image: linear-gradient(to bottom, #5fbffa, #3498db);
  text-decoration: none;
}
